* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  height: 4rem;
  margin: 0;
  background-color: #5b0788;
  font-weight: 600;
  color: #f1f1f1;
}
.header:first-child {
  padding-left: 0.5rem;
}
.header input {
  display: flex;
  align-items: center;
  width: 6rem;
  height: 2rem;
  padding: 0 0.25rem;
  color: white;
  background-color: transparent;
  border: none;
}
.header .names-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.header .xp-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  padding: 0 0.75rem;
  background-color: green;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
.navbar ul {
  display: flex;
  gap: 1rem;
}
.navbar ul .category-wrapper {
  padding-bottom: 0.5rem;
}
.navbar ul .active {
  color: #5b0788;
  border-bottom: 4px solid #5b0788;
  padding-bottom: calc(0.5rem - 4px);
}
.navbar ul a {
  font-weight: bold;
  font-size: 0.875rem;
}
.navbar ul a:hover {
  color: #5b0788;
}
.navbar ul span {
  font-weight: bold;
  font-size: 0.875rem;
}
.navbar ul span:nth-of-type(2) {
  margin-left: 0.25rem;
}

.attributes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1.5rem;
  width: 100%;
  padding: 0 1rem;
}
.attributes section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.attributes section .att-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  gap: 1rem;
}
.attributes section .att-row + .att-row {
  margin-top: 0.5rem;
}
.attributes section .att-row input {
  width: 2.75rem;
  height: 2.25rem;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1rem;
}
.attributes section .att-row span:nth-of-type(2) {
  width: 2rem;
  padding-left: 0.25rem;
}
.attributes section .att-row .red-text {
  color: rgb(184, 5, 5);
}
.attributes section:nth-child(2) {
  align-items: end;
}

.attributes-title {
  margin-top: 2rem;
  width: 100%;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.points-button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  padding: 0 0.75rem;
  background-color: green;
  cursor: pointer;
}
.points-button-container .total-cost {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -0.75rem;
  right: 6.75rem;
  background-color: green;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
  border-radius: 4px;
  cursor: default;
}
.points-button-container .exp-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -5rem;
  right: 0.5rem;
  background-color: green;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.25rem 0.5rem;
  gap: 0.25rem;
  border-radius: 4px;
}/*# sourceMappingURL=global.css.map */