.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  height: 4rem;
  margin: 0;
  background-color: $primary-color;
  
  font-weight: 600;
  color: #f1f1f1;

  &:first-child {
    padding-left: 0.5rem;
  }

  input {
    display: flex;
    align-items: center;
    width: 4rem;
    height: 2rem;
    padding: 0 0.25rem;
    color: white;
    background-color: transparent;
    border: none;
  }

  .names-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }
  
  .xp-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 100%;
    padding: 0 0.75rem;
    background-color: green;
  }

}
