.points-button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: 100%;
  padding: 0 0.75rem;
  background-color: green;
  cursor: pointer;

  .total-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -0.75rem;
    right: 6.75rem;
    background-color: green;
    width: max-content;
    height: max-content;
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
    border-radius: 4px;
    cursor: default;
  }
  .exp-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -5rem;
    right: 0.5rem;
    background-color: green;
    width: max-content;
    height: max-content;
    padding: 0.25rem 0.5rem;
    gap: 0.25rem;
    border-radius: 4px;
  }
}